<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
	<title>Game Store</title>
</head>
<body class="text-center">

	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px;">
  		<a class="navbar-brand" th:href="@{/}">Game Store</a>
  		<div class="collapse navbar-collapse d-flex justify-content-between">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item">
        			<a class="nav-link" th:href="@{/}">Home</a>
      			</li>
      			<li>
      				<a class="nav-link" th:href="@{/login?logout}">Logout</a>
      			</li>
    		</ul>	
  		</div>
	</nav>
	<br>
	<div class="align-items-center">
		<h1 class="display-5">Games</h1>
	</div>
	<br>
	<table class="table" style="max-width: 600px; margin: auto;">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody th:each="product : ${products}">
			<tr>
				<td th:text="${product.name}"></td>
				<td th:text="'R$ ' + ${product.price}"></td>
			</tr>
		</tbody>
	</table>
  	<br>
  	<br>
  	<br>
  	<div>	  	
  		<div class="card" style="width: 300px; margin: auto;">
		  	<ul class="list-group list-group-flush">
		    	<li class="list-group-item" th:text="'Subtotal: R$ ' + ${subTotal}" style="font-size: 20px;"></li>
		    	<li class="list-group-item" th:text="'Shipping: R$ ' + ${shipping}" style="font-size: 20px;"></li>
		    	<li class="list-group-item" th:text="'Total: R$ ' + ${total}" style="font-size: 25px;"></li>
		  	</ul>
		</div>
		<br>
		<br>
  	</div>
  	<br>
  	<form th:action="@{/orders/register-order}" th:method="post" class="form-group">
  		<label>Payment
	      		<select name="payment" class="form-control">
	      			<option value="MONEY" selected>Money</option>
	      			<option value="CREDIT_CARD">Credit card</option>
	      			<option value="DIGITAL_CURRENCY">Digital currency</option>
	      		</select>
	      	</label>
		<input type="hidden" name="orderStatus" value="WAITING_PAYMENT" class="form-control"/>
		<input type="hidden" name="subTotal" th:value="${subTotal}" class="form-control"/>
		<input type="hidden" name="shipping" th:value="${shipping}" class="form-control"/>
		<input type="hidden" name="total" th:value="${total}" class="form-control"/>
		<br>
		<br>
		<button type="submit" class="btn btn-success">Purchase</button>
  	</form>
	<br>
	<br>
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>
</html>